<div class="page-container">
  <div class="content-wrap">
    <div class="row">
      <div class="col-1">
        <div class="text-center">
          <br>
          <button type="button" class="btn btn-dark">Login</button>
        </div>
      </div>

      <div class="col-1">
        <div class="text-center">
          <br>
          <%= button_to 'Register', register_path, method: :get %>
        </div>
      </div>

      <div class="col-1">
      </div>

      <div class="col-6">
        <img src="/images/neighbors-cover.jpg" alt="title" class="img-fluid" id="title-img">
      </div>

      <div class="col-3">
      </div>
    </div>
  </div>
</div>

<div class ="footer">
  <%= link_to "Resources", resources_path %>
</div>
