<div class="container">
  <h1 class="text-center">Emergency Resources</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">
      <%= link_to "https://www.farmers.gov/protection-recovery", "https://www.farmers.gov/protection-recovery" %>
    </div>
    <div class="col-6">
      <p>
        United States Department of Agriculture (USDA) resources page for disaster protection and recovery for agricultural assets
      </p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">
      <%= link_to "https://dhsem.colorado.gov/", "https://dhsem.colorado.gov/" %>
    </div>
    <div class="col-6">
      <p>
        Colorado Division of Homeland Security & Emergency Management homepage
      </p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">
      <%= link_to "http://veterinaryextension.colostate.edu/menu1/prepare.shtml", "http://veterinaryextension.colostate.edu/menu1/prepare.shtml" %>
    </div>
    <div class="col-6">
      <p>
        Resource guide for farm disaster preparedness published by the Colorado State University School of Veterinary Medicine
      </p>
    </div>
  </div>

</div>
