<h3>Request emergency evacuation assistance from nearby Neigh-bors users</h3>
<p>
Clicking submit will automatically send text alerts to all nearby Neigh-bors users who are available for rescue and have sufficient trailer capacity for your specified animal count.
<br>
The following information will be made available:
<br>
User info goes here
<br>
You will be notified by this application when a user has accepted the assignment. Make sure to answer incoming calls, as the rescuer may reach out to you by phone first.
<br>
Are you sure you wish to proceed? This action cannot be undone.</p>
<br>
<%= button_to 'Submit', '/missions', method: :post %>
